; Top-most http://editorconfig.org/ file
root = true

; Unix-style newlines
[*]
end_of_line = LF
insert_final_newline = true

; 4-column tab indentation
[*.cs]
indent_style = tab
indent_size = 4

; 4-column tab indentation
[*.yaml]
indent_style = tab
indent_size = 4