# Travis-CI Build for OpenRA
# see travis-ci.org for details

# Mono/.NET are not officially supported. The following is a workaround.
language: c

# Make sure build dependencies are installed.
install:
 - sudo apt-get install mono-gmcs cli-common-dev libgl1-mesa-dev libsdl1.2-dev libopenal-dev

# Run the build script which will automatically call RALint and ensure that the IDE project files are still valid.
script:
 - make all
 - xbuild

# Only watch the development branch.
branches:
 only:
   - bleed

# Notify developers when build passed/failed.
notifications:
  irc: "irc.freenode.net#openra"