# Travis-CI Build for OpenRA
# see travis-ci.org for details

# Mono/.NET are not officially supported. The following is a workaround.
language: c

# Make sure build dependencies are installed.
install:
 - sudo apt-get install mono-gmcs cli-common-dev libgl1-mesa-glx libopenal1 libfreetype6 dpkg rpm nsis markdown
cache: apt

# Run the build script
# call RALint to check for YAML errors
script:
 - make dependencies
 - make all
 - make test

# Only watch the development branch and tagged release.
branches:
 only:
   - /^release-.*$/
   - /^playtest-.*$/
   - bleed

# Notify developers when build passed/failed.
notifications:
  irc:
    template:
      - "%{repository}#%{build_number} %{commit} %{author}: %{message} %{build_url}"
    channels:
      - "irc.freenode.net#openra"
    use_notice: true
    skip_join: true

before_deploy:
 - env
 - echo $TRAVIS_TAG
 - cd packaging
 - mkdir build
 - ./package-all.sh $TRAVIS_TAG build
deploy:
  provider: releases
  api_key:
    secure: XBjG29ypu7Ay+ISR7AIf5Uclm+1ZVvfc472Exr7GTP0qoE67k7ItXeoLsqMYgY6nxfWfAzOZHUTqfFpVD78/wZp6Z2LsLZazGAk4vVNf6SunZGn1GsyDSTE82mj9HYFg5QaNLOiVEjeSswx9WZQkhiVuo40JIZCSZq+KaxzPRFw=
  file:
    - packaging/build/OpenRA-$TRAVIS_TAG.exe
    - packaging/build/OpenRA-$TRAVIS_TAG.zip
    - packaging/build/openra-$TRAVIS_TAG-1-any.pkg.tar.xz
    - packaging/build/openra-$TRAVIS_TAG-1-noarch.rpm
    - packaging/build/openra_$TRAVIS_TAG_all.deb
  skip_cleanup: true
  on:
    all_branches: true
    tags: true
    repo: OpenRA/OpenRA
