<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>OpenRa Server</string>
	<key>CFBundleExecutable</key>
	<string>OpenRa Server</string>
	<key>CFBundleIconFile</key>
	<string>OpenRa.icns</string>
</dict>
</plist>
