[Desktop Entry]
Type=Application
Version=20100907-1
Name=OpenRA - Red Alert
Comment=The OpenRA RTS engine running Red Alert
Icon=openra
Exec=/usr/bin/openra Game.Mods=ra
Terminal=false
Categories=Game;
