[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA Map Editor
GenericName=Tile based RTS game map editor
Comment=Import legacy maps and create new ones from scratch
Icon=openra-editor
Exec=openra-editor
Terminal=false
Categories=Game;StrategyGame;