Package: openra
Version: {VERSION}
Architecture: all
Maintainer: Chris Forbes <chrisf@ijw.co.nz>
Installed-Size: {SIZE}
Depends: libopenal1, mono-runtime (>= 2.10), libmono-system-drawing4.0-cil, libmono-system-windows-forms4.0-cil, libfreetype6, libsdl1.2debian, libgl1-mesa-glx, libgl1-mesa-dri
Section: games
Priority: extra
Homepage: http://www.open-ra.org/
Description: A multiplayer re-envisioning of early RTS games by Westwood Studios
 .
 OpenRA is a Libre/Free Real Time Strategy game engine supporting early
 Westwood games like Command & Conquer and Command & Conquer: Red Alert.
 The engine is designed from the ground up to be extremely moddable and
 natively supports user-created maps and mods.
 Support can be obtained from our IRC channel (#openra on irc.freenode.net),
 our forum (http://www.sleipnirstuff.com/forum/viewforum.php?f=80), and our
 bug tracker (http://bugs.open-ra.org).
