Package: openra
Version: {VERSION}
Architecture: all
Maintainer: Paul Chote <paul@chote.net>
Installed-Size: {SIZE}
Depends: libopenal1, mono-runtime (>= 3.2), libmono-system-core4.0-cil, libmono-system-drawing4.0-cil, libmono-system-data4.0-cil, libmono-system-numerics4.0-cil, libmono-system-runtime-serialization4.0-cil, libmono-system-xml-linq4.0-cil, libmono-i18n4.0-all, libfreetype6, libc6, libasound2, libgl1-mesa-glx, libgl1-mesa-dri, xdg-utils, zenity, libsdl2 | libsdl2-2.0-0, liblua5.1-0
Section: games
Priority: extra
Homepage: http://www.openra.net/
Description: A multiplayer re-envisioning of early RTS games by Westwood Studios
 .
 OpenRA is a Libre/Free Real Time Strategy game engine supporting early
 Westwood games like Command & Conquer and Command & Conquer: Red Alert.
 The engine is designed from the ground up to be extremely moddable and
 natively supports user-created maps and mods.
 Support can be obtained from our IRC channel (#openra on irc.freenode.net),
 our forum (http://www.sleipnirstuff.com/forum/viewforum.php?f=80), and our
 bug tracker (http://bugs.openra.net).
