body { background-color: black; margin: 0px; color: White; font-family: Cambria, Georgia, Times New Roman, Serif; font-size: 12pt }
h1 { font-family: Cambria, Georgia, Times New Roman, Serif }
h2 { font-family: Helvetica, Arial, Sans-Serif }

a { color: White }
a:visited { color: White }

div#main 
{	
	width: 1024px; 
	height:768px;
	background-image: url("background.png");
	background-repeat: no-repeat; 
	margin: 0 auto;
	padding: 20px 0px;
}

div#header
{
	margin-top: 30px;
	height: 66px
}

div.bar
{
	border-top: solid 3px #650b03;
	border-bottom: solid 3px #650b03;
	background-color: #272d2c;
	width: 100%;
}

div#header h1
{
	margin: 0 auto;
	width:280px;
}

div#header img
{
	vertical-align: middle; 
	margin: -30px 0px
}

div#content
{
	text-align: justify;
	width:50%;
	padding-left:50px;
}
div#menu
{
	margin-top: 10px; 
	margin-left: auto;
	margin-right:auto;
	width:90%;
	text-align:center;
}
div#menu a { text-decoration: none; color: White }
div#menu a:visited { text-decoration: none; color: White }
div#menu a:hover { text-decoration: none; color: White }

/* Sidebar */
div#sidebar
{
	margin-top: 19px;
	float: right; 
	width: 450px;
	text-align: center
}
div#sidebar strong
{
	font-size: 2.3em;
	display: block
}
div#sidebar .stats
{
	display: inline-block;
	margin-right: 10px;
}
div#sidebar .desc
{
	font-size: 0.8em
}

div#sidebar a.desc
{
	font-size: 0.7em
}

div.download
{
	border: solid 3px #650b03;
	background-color: #272d2c;
	margin: 20px auto; 
	width: 280px; 
	height: 40px; 
	padding: 10px 10px
}

div.download:hover
{
	border-color: gray;
	cursor: pointer
}

div#screenshots
{
	width: 506px; 
	margin: 0 auto; 
	height: 316px;
	border: solid 3px #650b03;
}

div#footer
{
	font-size: 0.7em; 
	margin-bottom: 10px;
	padding-top:9px;
	padding-right:10px;
	text-align: center;
	height: 25px;
}

p#trademarks
{
	padding-right: 10px;
}

span.links
{
	border-bottom: solid 3px #650b03;
	margin: 0px 10px;
	font-size: 1.2em;
}
span.links:hover
{
	border-bottom-color: gray;
}

div.rounded
{
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
