body { background-color: black; margin: 0px; color: White; }
h1 { font-family: Cambria, Georgia, Times New Roman, Serif }
h2 { font-family: Helvetica, Arial, Sans-Serif }

a { color: White }
a:visited { color: White }

div#main 
{	
	width: 1024px; 
	height:768px;
	background-image: url("background.png");
	background-repeat: no-repeat; 
	margin: 0 auto;
	padding: 20px 0px;
}

div#header
{
	background-image: url("banner.png"); 
	background-repeat: no-repeat; 
	height: 66px
}

div#header img
{
	vertical-align: middle; 
	margin: -30px 0px
}

div#content
{
	float: left;
	width: 50%;
	text-align: justify;
}
div#menu
{
	margin-top: 10px; 
	margin-left: auto; 
	width: 90%
}
div#menu a { text-decoration: none; color: White }
div#menu a:visited { text-decoration: none; color: White }
div#menu a:hover { text-decoration: none; color: White }

/* Sidebar */
div#sidebar
{
	float: right; 
	width: 40%
}
div#sidebar strong
{
	font-size: 2.3em;
	display: block
}
div#sidebar li
{
	list-style-type: none;
	float: left;
	margin-right: 10px;
}
div#sidebar span
{
	font-size: 0.8em
}

div#screenshots
{
	clear: both;
	width: 640px; 
	margin: 0 auto; 
	height: 400px;
	border: solid 5px gray;
}

div#footer
{
	font-size: 0.6em; 
	margin-left: 30px;
	margin-bottom: 10px; 
	text-align: center
}

span.links
{
	margin: 0px 10px;
	font-size: 1.2em;
}
span.links:hover
{
	border-bottom: solid 2px #650b03;
}