body { background-color: black; margin: 0px; color: White; }
h1 { font-family: Cambria, Georgia, Times New Roman, Serif }
h2 { font-family: Helvetica, Arial, Sans-Serif }

a { color: White }
a:visited { color: White }

div#main 
{	
	width: 80%; 
	height:768px;
	background-image: url("background.png");
	background-repeat: no-repeat; 
	margin: 0 auto;
	padding: 20px 0px;
}

div#header
{
	/*background-image: url("banner.png"); 
	background-repeat: no-repeat; */
	border-top: solid 2px #650b03;
	border-bottom: solid 2px #650b03;
	background-color: #272d2c;
	width: 100%;
	height: 66px
}

div#header img
{
	float: left;
	margin: -40px 0 0 0;
}

div#header h1
{
	margin-top: 10px;
}

div#content
{
	clear: left;
	float: left;
	width: 50%;
	text-align: justify;
}
div#menu
{
	margin-top: 10px; 
	margin-left: auto; 
	width: 90%
}
div#menu a { text-decoration: none; color: White }
div#menu a:visited { text-decoration: none; color: White }
div#menu a:hover { text-decoration: none; color: White }

/* Sidebar */
div#sidebar
{
	margin-top: 19px;
	float: right; 
	width: 450px;
	text-align: center
}
div#sidebar strong
{
	font-size: 2.3em;
	display: block
}
div#sidebar .stats
{
	display: inline-block;
	margin-right: 10px;
}
div#sidebar .desc
{
	font-size: 0.8em
}

div#download
{
	margin: 20px auto; 
	width: 280px; 
	height: 40px; 
	padding: 10px 10px
}

div#screenshots
{
	float: left;
	width: 512px; 
	margin: 0 auto; 
	height: 320px;
	clear: left;
	/*border: solid 5px gray;*/
}

div#footer
{
	clear: both;
	font-size: 0.6em; 
	margin-bottom: 10px;
	padding-top: 10px;
	text-align: center
}

span.links
{
	margin: 0px 10px;
	font-size: 1.2em;
}
span.links:hover
{
	border-bottom: solid 2px #650b03;
}

div.rounded
{
	border: solid 2px #650b03;
	background-color: #272d2c; 
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}